*{
    box-sizing: border-box;
}

body{
    background: #f6f6f6;
    padding-bottom: 30px;
    padding-top: 30px;
}
.calculator{
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    display: none;
}

.calculator input{
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid #111;
    padding: 20px;
    text-align: right;
    font-size: 40px;
}

.calculator-buttons{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.calc-button{
    background: rgba(0,0,0,0.5);
    border: 1px solid #111;
    padding: 20px;
    color: #f6f6f6;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}

.is-clear,
.is-zero{
    grid-column: span 3;
}

.is-clear{
    background: #3572d8;
}

.is-equal{
    background: #28d060;
}